<html> 
    <head>
        <title>Mash!</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>MASH</h1>
        <p>Add a description about the game</p>
        <form method = "post" action = "/results">
            <input type="text" name="house" placeholder="What's your dream house"/>
            <br>
            <input type="text" name="car" placeholder="What's your dream car"/>
            <br>
            <input  type="text" name="career" placeholder="What's your dream career"/>
            <br>
            <input  type="text" name="city" placeholder="What's your dream you want to live in city"/>
            <br>
            <input  type="submit" value="Submit"/>
        </form>        
    </body>
</html>
