<html> 
    <head>
        <title>Mash!</title>
    </head>
    <body>
        <h1>Hello world!</h1>
        <p>We can build a full webpage here</p>
        <form method = "post" action = "/results">
            <input type="text" name="house" placeholder="What's your dream house"/>
            <input type="text" name="car" placeholder="What's your dream car"/>
            <input type="text" name="career" placeholder="What's your dream career"/>
            <input type="text" name="city" placeholder="What's your dream you want to live in city"/>
            <input type="submit" value="Submit"/>
        </form>
        
    </body>
</html>
